.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
  margin-left: 120px;
  /*height: 800px;*/
  width: 75%;
}

.profile-content-wrapper {
  /* border: 2px solid teal; */
  padding-left: 30px;
  padding-right: 30px;
}

.profile-content-wrapper h1 {
  color: teal;
  margin-bottom: 2rem;
}
