* {
  list-style: none;
}
.skills {
  background: white;

  /* width: 200px; */
  /* margin-top: 60px;
  margin-left: 10px; */
}
h1 {
  margin: 10px 0px;
}

h3 {
  margin-bottom: 10px;
}
li {
  margin: 7px 100px;
}

.bar {
  background: rgba(0, 187, 187, 0.288);
  display: block;
  height: 9px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(118, 170, 170);
}

.bar span {
  height: 9px;
  float: left;
  background: rgb(1, 168, 168);
}
.html {
  width: 70%;
  animation: html 2s;
}
.css {
  width: 70%;
  animation: css 2s;
}
.javasc {
  width: 70%;
  animation: javasc 2s;
}
.react {
  width: 70%;
  animation: react 2s;
}
.express {
  width: 45%;
  animation: express 2s;
}
.python {
  width: 75%;
  animation: python 2s;
}
.sql {
  width: 45%;
  animation: sql 2s;
}
.docker {
  width: 55%;
  animation: docker 2s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes javasc {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes express {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes sql {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
@keyframes docker {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
.spanish {
  width: 99%;
  animation: spanish 2s;
}
.swedish {
  width: 98%;
  animation: swedish 2s;
}
.english {
  width: 97%;
  animation: english 2s;
}

@keyframes spanish {
  0% {
    width: 0%;
  }
  100% {
    width: 99%;
  }
}
@keyframes swedish {
  0% {
    width: 0%;
  }
  100% {
    width: 98%;
  }
}
@keyframes english {
  0% {
    width: 0%;
  }
  100% {
    width: 97%;
  }
}
